@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Outfit", "Poppins", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box-shadow {
  box-shadow: 0px 9px 75px rgba(8, 20, 44, 0.1);
}

.border-footer {
  border-top: 1px solid #b9a6a6;
}

.border-footer-around {
  border-right: 1px solid #b9a6a6;
  border-left: 1px solid #b9a6a6;
}

.nav-items-border:not(:last-child) {
  border-bottom: 1px solid #1a1110;
}
/* ----------------------- */
.swiper-horizontal {
  height: 120px;
}